.schedule_a_visit{
    /* background-color: #2b2c30; */
    color:white;
    padding:3rem;
}
.schedule_a_visit form{
    display: flex;
    flex-direction: column;
    background-color:#2b2c30 ;    
    align-items: center;

}
.schedule_a_visit input{
width:60rem;
padding:1rem;
background-color: rgb(1, 1, 29);
color:orange;
font-size: 1.6rem;
font-weight: 9rem;
margin-top: 2rem;
}
.schedule_a_visit input placeholder{
    color:orange;
}
textarea{
   margin-top: 2rem;
    padding:1rem;
    background-color:rgb(1, 1, 29);
    color:orange;
    font-size: 1.6rem;
    font-weight: 9rem;  
}




/* .schedule_a_visit{
    background-color:#222326; 
    margin-top: 10rem;
    padding:4rem;
    margin-bottom: 2rem;
}
.schedule_a_visit h2{
    color:white;
    text-align: center;
    
}
.firstname input{
 padding: 1rem;
 width:30rem;
 align-items: center;
 background-color: rgb(1, 1, 26);
 border:1px solid pink;
 font-weight: bolder;
 color:#8b8b88;
}
.firstname{
    margin-bottom: 1rem;
}
.formtop input{
    padding: .9rem;
    background-color: rgb(1, 1, 26);
    border:1px solid pink;
    font-weight: bolder;
    width:15rem;
    margin-bottom: 1rem;
    color:#8b8b88;
}
.formbottom input{
   background-color: rgb(1, 1, 26);
   border:1px solid pink;
   padding: .9rem;
   background-color: rgb(1, 1, 26);
   color:#8b8b88;
   font-weight: bolder;
   width:15rem;
   margin-bottom: 1rem;
}
textarea{
    background-color: rgb(1, 1, 26);
    border:1px solid pink;
    color:#8b8b88;
    padding:1rem;
    width:30rem;
    
}
button{
    display: flex;
    justify-content: center;
    background-color: rgb(1, 1, 26);
    color:#8b8b88;
    padding:1rem;
    border:2px pink solid;
    border-radius: 25px;
   margin-left: 25%;
   width: 20rem;
}
.errorp{
    color:white;
    font-size: 5rem;
} */