.hero{
    background-image: url(../../assets/hero1.jpg);
    height:50rem;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.hero p{
    /* padding-top:25rem; */
    /* padding-left: 20rem; */
    /* justify-content: center;
    font-size: x-large;
    color:purple; */
    
    
}
.schedule_a_visit{
    background-color:#222326; 
    margin-top: 10rem;
    padding:4rem;
    margin-bottom: 2rem;
}
.schedule_a_visit h2{
    color:white;
    text-align: center;
    
}
.firstname input{
 padding: 1rem;
 width:30rem;
 align-items: center;
 background-color: rgb(1, 1, 26);
 border:1px solid pink;
 font-weight: bolder;
 color:#8b8b88;
}
.firstname{
    margin-bottom: 1rem;
}
.formtop input{
    padding: .9rem;
    background-color: rgb(1, 1, 26);
    border:1px solid pink;
    font-weight: bolder;
    width:15rem;
    margin-bottom: 1rem;
    color:#8b8b88;
}
.formbottom input{
   background-color: rgb(1, 1, 26);
   border:1px solid pink;
   padding: .9rem;
   background-color: rgb(1, 1, 26);
   color:#8b8b88;
   font-weight: bolder;
   width:15rem;
   margin-bottom: 1rem;
}
textarea{
    background-color: rgb(1, 1, 26);
    border:1px solid pink;
    color:#8b8b88;
    padding:1rem;
    width:30rem;
    
}
button{
    display: flex;
    justify-content: center;
    background-color: rgb(1, 1, 26);
    color:#8b8b88;
    padding:1rem;
    border:2px pink solid;
    border-radius: 25px;
   margin-left: 25%;
   width: 20rem;
}

.herocard{
    background-color: #222326;
    margin:10rem 0;
    padding:5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;

}

.herocard p{
    padding-bottom: 14rem;
}
.formhero{
    /* background-color: #222326;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    margin-top: 3rem;
    background-size: cover; */
    /* margin-bottom: 3rem; */
    /* padding:.0rem 4rem; */
    /* height: 10rem; */
}
/* responsiveness */
@media screen and (max-width:47.5625em){
    textarea{
        width:20rem;
    }
}
.hero p{
    padding-top: 15rem;
}
@media screen and (max-width:29.625em){
    .formbottom input{
        width:10rem;
    }

.formtop input{
    width:10rem;
}
.firstname input{
    width: 20rem;
}
}
@media screen and (max-width:22.5em){
    .firstname input{
        width:10rem;
    }
    .formtop input{
        width:5rem;
    }
    .formbottom input{
        width:5rem;
    }
    textarea{
        width:10rem;
    }
}