.nav{
    background-color: rgb(34,35,38);     
    display:flex;
    flex-direction: row;
    gap:5rem;
    justify-content: space-around;
   
    background-attachment: fixed;
    width:100%;
}
.nav a{
    color:white;
    text-decoration: none;
}
.nav ul{
    list-style-type: none;
}
.phoneicon{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding-top: .31px; */
    
    
    /* height:1rem;
    width:1rem; */
    color:white;
}



.leftnav{
    display:flex;
    flex-direction: row;
    gap:5rem;
    margin-top: 7rem;
}
.rightnav{
    display:flex;
    flex-direction: row;
    gap:5rem;
    margin-top: 7rem;
}
.logo img{
border-radius: 100%;
margin-top: .2rem;
scale:.4;
/* height: 8rem;
width:9rem; */
padding-bottom: 2rem;
}

/* responsiveness */

@media screen and (max-width: 61.3125em ) {
  .nav{
   
    gap:2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:3rem;
  }  
  .leftnav{
    gap:2rem;
  }
  .rightnav{
    gap:2rem;
  }
}
 @media screen and ( max-width:58.6875em){
    .nav{
        display: flex;
        flex-direction: row;
        justify-content: center;  
      
    }



     }
     @media screen and (max-width:39.375em){

        .nav img{
            
            display: none;
        }
         
    }

 
     @media screen and  ( max-width: 35.9375em){
        .nav{
        
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .nav img{
            display: none;
        }
     }
@media screen and (max-width:25.4375em) {
    .nav{
        gap:1rem;
    }    
}
@media screen and (max-width:22.5em) {
    .nav{
       display: flex;
       flex-direction: column;
    }
    .leftnav{
        gap: 10rem;
    }
    .rightnav{
        gap:10rem;
    }  
    
}
@media screen and (max-width:17.5625em){
  .leftnav,.rightnav{
    gap:4rem;
  }  
}
@media screen and (max-width:16.8125em){
 .leftnav,.rightnav{
    gap:5rem;
 }   
}

@media screen and (max-width:15.4375em){
    .leftnav,.rightnav{
        display:flex;
        flex-direction: column;
    }
}