.heroproperties{
    background-image: url('../../assets/hero1crop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding:19rem;
}
.booked{
/* text-decoration: line-through; */
font-size: 3rem;
color:red;
font-weight: 100;

}
.vacant{
    font-size: 3rem;
    color:red; 
    font-weight: 100; 
}

